.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #fff;
    padding: 10px;
  }
  
img {
    height: 40px;
  }
  
  .header-container nav a {
    color: blackng;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .header-container button {
    background-color: #e60000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .header-container .user-avatar {
    height: 40px;
    border-radius: 50%;
  }

.btn{
    margin-left: 10px;
    border-radius: 30px;
}