 <div class="job-status-card ">
<h3>All Jobs Status</h3>
<div class="d-flex">
    <circle-progress
    [percent]="currentProgress"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000' "
    [innerStrokeColor]="'#fff'"
    [animation]="true"
    [animationDuration]="300"
    [title]="'6K'"
    [subtitle]="'Completed'"
    
  ></circle-progress>

  <div class="list">
    <ul>
        <li>totalJobs</li>
        <li> inProgress</li>
        <li>success</li>
        <li>failed</li>

    </ul>
  </div>

</div>

</div>

